data
abc
abcx
BaiduPCS*
piano_scores
legato
third_party
wave-roll
output
.venv
PianoCoRe*
Qwen3.5*
sft_data
*.log
PianistTransformer
__pycache__
miditsv
backup/*
!backup/scripts_legacy/
!backup/scripts_legacy/**
